<div class="container-fluid desktop-root m-0 p-0">
    <div class="app-layer">
        <div data-role="window" class="p-2" data-icon="<span class='mif-rocket'></span>" data-shadow="true">
            This is a simple window
        </div>
    </div>

    <div class="component-layer">
        <!-- Taskbar Start -->
        <div class="taskbar fg-white" data-role="appbar" data-expand-point="md">
            <ul class="app-bar-menu w-100">
                <li><a href="#"><span class="mif-windows mif-3x"></span></a></li>
                <div class="d-flex ml-auto flex-align-center">
                    <li><a href="#"><span class="mif-windows mif-3x"></span></a></li>
                    <li><a href="#"><span class="mif-windows mif-3x"></span></a></li>
                </div>
            </ul>
        </div>
        <!-- Taskbar End -->
    </div>
</div>